<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Nome"
            connectionString="Data Source=Pedro;Initial Catalog=NAU;Integrated Security=True;"
            providerName="System.Data.SqlClient" />
        <add name="NAU_Financeiro_0._5.Properties.Settings.NAU_FinanceiroConnectionString"
            connectionString="Data Source=Pedro;Initial Catalog=NAU;Persist Security Info=True;User ID=MASTER;Password=K25LM;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>